body{
    background-image: linear-gradient(to left,rgb(158, 196, 23),rgb(76, 156, 56),rgb(23, 62, 112),rgb(105, 127, 238));
    margin: 0;
    height: 100vh;
}
.login{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 3fr 1fr; 
    grid-template-columns: 1fr 2fr 1fr;
    align-self: center;
    justify-self: center;
    /*
    grid-template-areas: 
    "h h h"
    ". u ."
    ". i ."
    ". p ."
    ". pi ."
    ". s .";
    */

}
.navbar{
    grid-row: 1/2;
    background-color: rgb(44, 40, 40);
    grid-column: 1/-1;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    border-bottom: 2px solid rgb(105, 127, 238);
}
#navbar{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    margin: auto;
    width: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    overflow: hidden;
    color: white;
}
#register{
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    background-color: rgb(44, 40, 40);
    border: none;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: white;
}
#register:hover{
    cursor: pointer;
    background-color: rgb(61, 91, 243);
    transition: 0.3s;
}
.wrapper{
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    display: grid;
    background-color: rgb(44, 40, 40);
    border:3px solid rgb(105, 127, 238);
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    border-radius: 20px;
}
#content{
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-rows: repeat(6,1fr);
    display: grid;
    margin:auto;
    color:white;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#title{
    grid-row: 1/2;
    grid-column: 2/3;
    margin:auto;
    width: 50%;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*
.password{
    text-align: center;
    margin:auto;
    color: white;
    width: 50%;
}
*/
.submit{
    grid-row: 3/4;
    grid-column: 2/3;
    height: 70%;
    width: 80%;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(76, 156, 56);
    border: none;
    transition: 0.3s;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    color: white;
}
.submit:hover{
    cursor: pointer;
    background-color: rgb(61, 91, 243);
    transition: 0.3s;
}
.messages{
    height:fit-content;
    width: 90%;
    grid-column: 3/4;
    grid-row: 2/3;
    margin-top:0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(44, 40, 40);
    border: 2px solid rgb(105, 127, 238);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border-radius: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.messages > div{
    text-align: center;
    vertical-align: middle;
    color: white;
}
